@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

.service_menu {
    max-width: 980;
    background-color: #eeeeee;
}

h1 {
    max-width: 980px;
    text-align: center;
    margin: auto;
    padding: 20px;
    color: darkcyan;
}

.pic_frame {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
}

p {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
}
