@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 20px auto;
}

ul {
    display: flex;
    margin-left: auto;
    font-size: medium;
    align-items: center;
}

li {
    padding: 5px 20px;
}

li + li {
    border-left: 1px solid #3b3a3a;
}

@media screen and (max-width: 767px) {
    .menu {
        display: block;
        padding: 0 10px;
    }

    ul {
        display: block;
    }

    li {
        width: 100%;
        padding: 5px 0;
        border-bottom: 1px solid #3b3a3a;
    }

    li + li {
        border-left: 0px;
    }
}

.wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 980px;
    margin: 0 auto;
}

.wrap div {
    display: flex;
    justify-content: center;
    width: 30%;
    height: 300px;
    margin-bottom: 20px;
    background-color: blue;
    color: #fff;
}

.wrap2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 980px;
    margin: 0 auto;
}

.wrap2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 300px;
    margin-bottom: 20px;
    background-color: red;
    color: #fff;
}
