@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4f260b;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
}

html {
    scroll-behavior: smooth; /*スムーススクロール*/
}

.selector {
    font-feature-settings: "palt"; /*追加のCSSリセット　メトリクス仕様*/
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}
ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/*ヘッダー*/
.header_wrap {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    padding: 10px 7% 0 3%;
}
.header_logo {
    width: 226px;
}

.pc_nav ul {
    display: flex;
    justify-content: space-between;
}

.pc_nav ul li {
    min-width: 105px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

.pc_nav ul li + li {
    margin-left: 55px;
}

/*スマホ版メニューは消す*/

.sp_nav,
.sp_btn {
    display: none;
}

@media screen and (max-width: 1100px;) {
    .sp_btn.open;
}
.pc_nav {
    display: none;
}

/*ハンバーガー*/
.sp_btn {
    position: absolute;
    top: 20px;
    right: 25px;
    display: block;
    height: 23px;
    cursor: pointer;
    z-index: 2;
}

.sp_btn span {
    position: absolute;
    top: 10px;
    display: block;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    transition: 0.3s;
}

.sp_btn span::before,
.sp_btn span::after {
    position: absolute; /*親要素にposition: word-spacing:;をつけないといけない*/
    content: "";
    display: block;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    transition: 0.3s;
}

.sp_btn span::before {
    bottom: 10px;
}

.sp_btn span::after {
    top: 10px;
}

/*ハンバーガーメニューを閉じる*/
.sp_btn.open span {
    background: transparent;
}
.sp_btn.sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
}
.sp_btn.open span::after {
    top: 0;
    transform: rotate(135deg);
}
/*ハンバーガーメニュー*/
.sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /*全画面*/
    background: rgba(0, 0, 0, 0.8); /*80%の透過性でドロップシャドウ*/
    z-index: 1; /**/
}
.sp_nav ul {
    display: flex;
    flex-direction: column; /*横並びか縦並びcolumは縦並びの意味*/
    justify-content: center;
    align-items: center;
    height: 100%;
}
.sp_nav ul li {
    padding: 20px;
    color: #fff;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

/*.sp_nav{
 display: block;
 }*/

/*ここからメインコンテンツ*/

main {
    background-color: #e8d9bf;
}

/*コンセプト*/
.concept {
    padding-top: 100px;
    text-align: center;
}

.concept p:first-child {
    margin-bottom: 48px;
    font-size: 30px;
}
/*pタグ２つ目とかのときnth（２）とか番号振る、最後はlastでOK*/
.concept p:nth-child(2) {
    margin-bottom: 48px;
    font-size: 82px;
    line-height: 96px; /*テキストの行間を設定するために使用*/
}

.concept p:last-child {
    margin-bottom: 48px;
    font-size: 23px;
    line-height: 30px; /*テキストの行間を設定するために使用*/
}

@media screen and (max-width: 1023px;) {
    .concept p:first-child {
        font-size: 17px;
    }
    .concept p:nth-child(2) {
        font-size: 38px;
    }
    .concept p:last-child {
        font-size: 16px;
    }
}

/*aboutus*/
.about {
    position: relative; /*親要素を基準に動く*/
    display: flex; /*横並び*/
    justify-content: flex-end; /*右寄せ*/
    margin: 0 auto;
    margin-top: 100px;
    padding-top: 0;
    max-width: 1000px;

    /*justify-content
    flex-end / end：右寄せ
    center：中央寄せ
    space-between：flexアイテムの両端揃え
    space-around：flexアイテムの両側の余白を均等にする
    space-evenly：flexアイテム間のすべての余白を均等にする*/
}

.about_block {
    width: 42%;
    padding-right: 10px;
    padding-left: 10px;
}

.about_block .image {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    transform: translateY(-50%);
}
/*https://aquacastle.blue/css_translate_top/*/

.about_block .image img {
    width: 100%;
    border-bottom-right-radius: 80px; /*右下を丸角*/
}

.about_block h2 {
    margin-bottom: 48px;
    padding-top: 56px;
    text-align: left;
    width: 250px;
}

.about_block .title {
    margin-bottom: 35px;
    font-size: 44px;
    font-weight: normal;
    line-height: 1.38;
}

.about_block .content {
    font-size: 16px;
    line-height: 1.6;
}

@media screen and (max-width: 1023px) {
    .about_block.taitle {
        font-size: 36px;
    }
}

/*menu*/
.menu {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.menu_block {
    display: flex;
    justify-content: space-between;
}

.menu_item {
    width: 30%;
}

.menu h2 {
    padding: 100px 0px 50px 0px;
    width: 150px;
    margin: 0 auto;
}

.menu_item h3 {
    /*文字と画像を重ねる*/
    margin-top: -12px;
    margin-bottom: 14px;
    padding-left: 12px;
    font-size: 38px;
    font-weight: normal;
    color: #d30202;
}

.menu_block img {
    width: 100%;
    border-top-right-radius: 40px; /*右上を丸角*/
}

.menu_item p {
    font-size: 17px;
    line-height: 1.47;
}

/*gallery*/
.gallery h2 {
    width: 230px;
    padding: 100px 0px 27px 0px;
    margin: 0 auto;
}

.gallery_wrap {
    display: flex;
    max-width: 1920px;
    justify-content: center;
}

/*event*/
.event {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 10px;
}

.event h2 {
    width: 166px;
    padding: 67px 0px 40px 0px;
    margin: 0 auto;
}

.event_block {
    display: flex;
    justify-content: center;
    padding: 36px;
    border: 3px solid #4f260b;
    background-color: #fff;
}

.event_block ul li a {
    justify-content: center;
    color: #4f260b;
    font-size: 23px;
    text-decoration: underline;
}

.event_block ul li time {
    margin-right: 55px;
    justify-content: center;
    color: #4f260b;
    font-size: 23px;
}

.event_block ul li + li {
    margin-top: 20px;
}

/*access*/
.access h2 {
    width: 200px;
    padding: 67px 0px 40px 0px;
    margin: 0 auto;
}
.access_map iframe {
    display: block;
    width: 100%;
    height: 190px;
}

/*フッター*/
footer {
    padding: 76px 0;
}

.footer_block {
    display: flex;
    max-width: 1000px;
    margin: 0 auto 36px;
}

.footer_block .footer_img {
    width: 226px;
    margin-right: 60px;
}
.footer_block ul li {
    display: block;
    font-size: 20px;
    color: #000000;
}

.footer_block ul li + li {
    margin-top: 20px;
}

.footer_copy {
    text-align: center;
    color: #000;
    font-size: 16px;
}

/*PAGETOP*/
.pagetop {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 125px;
}

.pagetop img {
    width: 100%;
}
